// Breakpoints
$xl: 1300px
$lg: 1024px
$md: 768px
$sm: 480px
$xs: $sm - 1px

//$xl: 1444px + 48px
//$lg: 1155px + 48px
//$md: 840px
//$sm: 576px
//$xs: $sm - 1px

// Choose setup you need or make own
// Accepted parameters: md, material-large, bootstrap, custom
//$setup: bootstrap
//@import "variables"

// Set the desired number of columns
$columns: 24

// Set margin between columns
$margin: 15px

// Enable Mobile first
//$mobile-first: false
